.navbar {
  width: 178px;
  background-color: #38393d;
}
.logo-box {
  display: flex;
  background-color: #38393d;
  align-items: center;
  justify-content: center;
  padding: 24px;
  height: 0;
}
.logo-box .toggle-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: url("../../assets/img/Sprites.svg") no-repeat -424px -86px;
}
.logo-box .amis-logo {
  width: 96px;
  height: 32px;
  background: url("../../assets/img/Logo.svg") no-repeat;
  background-size: contain;
}
.navbar-content {
  height: calc(100vh - 62px);
  padding-top: 14px;
  overflow-y: scroll;
}

.navbar-content .nav-item {
  font-family: inherit;
  font-size: inherit;
  line-height: 42px;
  height: 42px;
  border-left: 6px solid transparent;
  padding-left: 8px;
  color: #fff;
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: #38393d;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}
.navbar-content .nav-item:hover {
  background-color: #616164;
}
.ic-max {
  margin-right: 10px;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
